.games-header {
  padding: 200px 0 0;
  background: linear-gradient(
      to bottom,
      rgb(27, 31, 36),
      rgb(28, 33, 39),
      rgba(36, 47, 53, 0.9),
      rgba(43, 61, 64, 0.8),
      rgba(45, 65, 67, 0.7),
      rgba(36, 47, 53, 0.8),
      rgba(28, 33, 39, 0.9),
      rgb(27, 31, 36, 1)
    ),
    url('../assets/witcher.jpg');
}

.games-lists {
  padding: 100px 0;
  background: linear-gradient(
      to bottom,
      rgb(27, 31, 36),
      rgb(28, 33, 39),
      rgba(36, 47, 53, 0.9),
      rgba(43, 61, 64, 0.8),
      rgba(45, 65, 67, 0.8),
      rgba(43, 61, 64, 0.8),
      rgba(36, 47, 53, 0.8),
      rgba(28, 33, 39, 0.9),
      rgb(27, 31, 36)
    ),
    url('../assets/universe_generative_pattern.png');
}

.big-desccription--games {
  margin-top: 100px;
}

.big-desccription--games h2 {
  color: rgb(68, 151, 158);
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 30px;
}

.big-desccription--games p {
  color: #a1bbc3;
}
