.slider-wrapper {
  position: relative;
  height: 200px;
  width: 90%;
  margin-inline: auto;
}

.slider {
  width: 100%;
  height: 100%;
}

.slider div {
  height: 100%;
  outline: none;
  padding-inline: 2px;
}

.slick-slide {
  position: relative;
}

.slide-name {
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  top: calc(50% - 25px);
}

.slick-arrow.slick-prev::before,
.slick-arrow.slick-next::before {
  color: rgb(77, 144, 146);
}

.home .slider-wrapper {
  height: 50vh;
  width: 1440px;
}

.home .slider div {
  padding-inline: 0;
}

.home .slick-slide {
  opacity: 0.5;
}

.home .slick-slide img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.home .slick-slide.slick-current {
  opacity: 1;
  z-index: 10;
  transform: scale(1.5);
}

.home .slick-slide.slick-current img {
  box-shadow: 15px 5px 15px 4px rgba(0, 0, 0, 0.3);
}
