.navbar {
  position: absolute;
  top: 0;
  padding: 20px;
  width: 100%;
}

.navbar-wrapper {
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-left: 5px;
}

.links a {
  color: #fff;
}
