.navbar {
  position: absolute;
  top: 0;
  padding: 20px;
  width: 100%;
}

.navbar-wrapper {
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  width: 150px;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  position: relative;
  padding: 10px 20px;
  font-weight: 600;
  color: #ffffff;
  border: 1px solid rgb(68, 151, 158);
  border-radius: 5px;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 151, 158, 0.15);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.link:not([class*='active']):hover::after {
  transform: scaleX(1);
}

.active {
  color: rgb(68, 151, 158);
}

.link-icon {
  margin-right: 10px;
}
