.container {
  width: 100%;
  max-width: 1300px;
  padding: 10px 20px;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--gap-space, 10px);
}

.header {
  padding: 200px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}
